:root {
}

html {
}

body {
}

/* --------------------------- Header --------------------------- */
header .logo:hover {
  background-color: rgb(96, 159, 253);
  border-radius: 25%;
}
header button.navbar-toggler {
  outline: none;
  box-shadow: none;
}
header button.navbar-toggler:focus {
  outline-width: 1px;
  outline-color: rgba(255, 255, 255, 0.25);
  outline-style: solid;
  box-shadow: none;
}
header nav ul li a {
  color: white;
  text-decoration: none;
}
header nav ul li a:hover {
  text-decoration: underline;
}
header nav ul li a.active {
  font-weight: bold;
}

/* --------------------------- Home --------------------------- */
/* categories */
.dropdown-menu-btn {
  position: relative;
  display: inline-block;
}
.dropdown-menu-content {
  position: absolute;
  background-color: whitesmoke;
  z-index: 1;
  box-shadow: 1px 2px 4px rgb(155, 155, 155);
}
.dropdown-menu-content li {
  list-style-type: none;
}
.dropdown-menu-content .selected-category {
  font-weight: bold;
}

/* products */
.shadow {
  box-shadow: 1px 1px 4px rgb(150, 150, 150);
}
.card-img-top {
  height: 16rem;
}
.product-tile .card-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media screen and (max-width: 500px) {
  .card-img-top {
    height: 12rem;
  }
}

/* filters */
.filter-tile input {
  width: 30%;
}

/* --------------------------- Account --------------------------- */
/* signin */
.signin-card {
  height: 36rem;
  width: 24rem;
}
@media screen and (max-width: 576px) {
  .signin-card {
    height: 28rem;
    width: 16rem;
  }
}

/* signup */

.signup-card {
  height: 36rem;
  width: 24rem;
}
@media screen and (max-width: 576px) {
  .signup-card {
    height: 28rem;
    width: 16rem;
  }
}

/* --------------------------- Cart --------------------------- */
.cart-tile {
  background-color: rgb(255, 255, 255);
}
.cart-tile-img {
  width: 6rem;
  height: 8rem;
}
.cart-tile-controls {
  width: 50%;
}

/* --------------------------- Product --------------------------- */

@media screen and (max-width: 768px) {
  .product-details .product-img {
    width: 14rem;
    height: 24rem;
  }
}

@media screen and (max-width: 576px) {
  .product-details .product-img {
    width: 12rem;
    height: 20rem;
  }
}

/* below code is copied from internet  */
#rating-slider {
  -webkit-appearance: none;
}
#rating-slider::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}
#rating-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 2rem;
  width: 2rem;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  background: rgb(255, 193, 7);
  margin-top: -1rem;
}
#rating-slider:focus {
  outline: none;
}
#rating-slider:focus::-webkit-slider-runnable-track {
  background: #ccc;
}
/* above code is copied from internet  */
